In [1]:
import pandas as pd 
import numpy as np

In [2]:
!pip install xlrd==1.2.0

Requirement already satisfied: xlrd==1.2.0 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (1.2.0)

In [3]:
pd.__version__

'1.3.5'

In [4]:
%pip install --upgrade pandas

Requirement already satisfied: pandas in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/amodpathirana/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df =pd.read_excel("website_visitors.xlsx")

In [6]:
df.head()

,customer_id,date,age,gender,country,item purchased,value,monthly visits
0,1,2022-03-02 00:00:00,23,Male,US,2.0,258,234
1,2,2022-03-03 00:00:00,34,Female,India,5.0,645,567
2,3,2022-03-04 00:00:00,23,Male,NaN,2.0,258,123
3,4,2022-03-05 00:00:00,ERR,Male,UK,7.0,903,123
4,5,2021-03-23 00:00:00,23,Male,France,1.0,129,47

In [7]:
df.shape

(30, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     30 non-null     int64
 1   date            30 non-null     object
 2   age             27 non-null     object
 3   gender          29 non-null     object
 4   country         29 non-null     object
 5   item purchased  29 non-null     float64
 6   value           30 non-null     int64
 7   monthly visits  27 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.0+ KB

In [9]:
df['country'].unique()

array(['US', 'India', nan, 'UK', 'France', 'Bolivia', 'Sweden', 'USA',
       'Germany', 'Brazil', 'Chile', 'Saudi Arabia', 'Japan', 'Norway',
       'Spain', 'Nigeria', 'United Kingdom', 'Switzerland', 'Russia'],
      dtype=object)

In [10]:
df['country'].nunique()

18

In [12]:
df.isna().sum()

customer_id       0
date              0
age               3
gender            1
country           1
item purchased    1
value             0
monthly visits    3
dtype: int64

In [13]:
(df.isna().sum()*100)/len(df)

customer_id        0.000000
date               0.000000
age               10.000000
gender             3.333333
country            3.333333
item purchased     3.333333
value              0.000000
monthly visits    10.000000
dtype: float64

In [16]:
df[df.duplicated()]

Empty DataFrame
Columns: [customer_id, date, age, gender, country, item purchased, value, monthly visits]
Index: []